{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["frontend/**/*", "frontend/**/*"],
      "options": {
        "semi": false
      }
    },
    {
      "files": ["backend/**/*", "backend/**/*"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
