.info__content-transaction-item {
  display: flex;
  align-items: center;
  padding-bottom: 0.313rem;
  gap: 0.25rem;
  align-self: stretch;
  justify-content: space-between;
}

.info__content-transaction-item img {
  width: 1.375rem;
  height: 1.375rem;
}

.info__content-transaction-item p {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 0.75rem;
}

.info__content-transaction-item .liability {
  color: var(--color-text);
}

.info__content-transaction-item .income {
  color: var(--color-gain);
}
