.info__linked-account {
  display: flex;
  height: 70.481px;
  padding: 15px 22px 0px 22px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;

  border-top: 1px solid var(--color-border);
}

.info__linked-account-label {
  display: flex;
  width: 240px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.info__account-label-title {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 20px;
}

.info__account-label-id {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 12px;
}

.info__linked-account-balance {
  display: flex;
  width: 180px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.info__account-balance-value {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 16px;
}

.info__account-balance-label {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 12px;
}

.info__linked-account-apy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  align-self: stretch;
}

.info__linked-account-apy-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  align-self: stretch;
}

.info__linked-account-button {
  width: 80px;
  height: 30px;

  display: flex;
  width: 80px;
  height: 30px;
  padding: 6px 21px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  color: #000;
  text-align: center;
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 500;

  border: 0;
  border-radius: 0;
  outline: none;
  cursor: pointer;
}
