.info {
  display: inline-flex;
  align-items: flex-start;
  width: 100%;
  gap: 1.25rem;
  padding: 0 3rem 3rem 4rem;
}

.info__content-left {
  display: flex;
  width: 52.25rem;
  height: 100%;
  padding: 0 1.25rem 1.25rem 1.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;

  background-color: var(--color-bg);
}

.info__main-container {
  display: flex;
  height: 19.438rem;
  padding: 0.938rem 0;
  align-items: flex-start;
  gap: 1.25rem;
  flex-shrink: 0;
  align-self: stretch;
}

.info__graph-container {
  display: flex;
  width: 528px;
  padding: 1.25rem 1.375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;

  border: 1px solid var(--color-border);
  background: #212121;
}

.info__graph {
  display: flex;
  align-items: flex-start;
  gap: 1.313rem;
  flex: 1 0 0;
  align-self: stretch;
}

.info__graph img {
  width: 26rem;
  align-self: stretch;
}

.info__graph-values {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  flex: 1 0 0;
  align-self: stretch;
}

.info__graph-values p {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 0.75rem;
}

.info__graph-months {
  display: flex;
  height: 1.188rem;
  padding-right: 4rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.info__graph-months p {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 0.75rem;
}

.info__net-worth-container {
  display: flex;
  padding: 1.125rem 0.938rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  flex: 1 0 0;
  align-self: stretch;

  border: 1px solid var(--color-border);
  background: #212121;
}

.info__account {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

.info__account-name {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 1.25rem;
}

.info__account-id {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 0.75rem;
}

.info__amount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  flex: 1 0 0;
}

.info__amount-title {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 1.25rem;
}

.info__amount-value {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 2rem;
}

.info__change {
  display: flex;
  padding-bottom: 1.875rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

.info__change-dollar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.info__change-name {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 0.75rem;
}

.info__change-value {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 1.25rem;

  color: var(--color-gain);
}

.info__change-percent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.info__content-right {
  display: flex;
  width: 29.813rem;
  height: 44rem;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.313rem;

  background-color: var(--color-bg);
}

.info__content-transactions-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  align-self: stretch;
  padding-bottom: 0.938rem;

  border-bottom: 1px solid var(--color-border);
}

.info__content-transactions-title {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 1.25rem;
}

.info__content-transactions-subtitle {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 0.75rem;
}

.info__content-transaction-history {
  display: flex;
  padding: 0 0.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  padding-top: 0.625rem;
}
