.info {
  display: flex;
  align-items: center;

  padding: 2rem 0 0 4rem;
}

.info__content {
  display: inline-flex;
  align-items: flex-start;
  gap: 1rem;
}

.info__content-left {
  display: flex;
  width: 836px;
  height: 704px;
  padding: 0px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  background-color: var(--color-bg);
}

.info__graph-container {
  display: flex;
  height: 311px;
  padding: 15px 0px;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  align-self: stretch;
}

.info__graph-container-main {
  display: flex;
  width: 528px;
  padding: 20px 22px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;

  border: 1px solid var(--color-border);
}

.info__graph {
  display: flex;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  gap: 1.5rem;

  color: var(--color-text);
}

.info__graph-values {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  flex: 1 0 0;
  align-self: stretch;
}

.info__graph-values p {
  color: var(--Silver, #d0d0d0);
  font-family: var(--font-family);
  font-size: 12px;
}

.info__graph-months {
  display: flex;
  height: 19px;
  padding-right: 4rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.info__graph-months p {
  color: var(--Silver, #d0d0d0);
  font-family: var(--font-family);
  font-size: 12px;
}

.info__net-worth-container {
  display: flex;
  padding: 1.5rem 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  align-self: stretch;

  border: 1px solid var(--color-border);
}

.info__account,
.info__amount,
.info__change {
  color: var(--color-text);
  font-family: var(--font-family);
}

.info__account-name,
.info__amount-title {
  font-size: 20px;
}

.info__account-id,
.info__change-dollar-name,
.info__change-percent-name {
  font-size: 12px;
}

.info__amount {
  margin-top: 0.5rem;
}

.info__amount-value {
  font-size: 32px;
}

.info__account,
.info__amount {
  display: flex;
  flex-direction: column;
}

.info__change {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.info__change-dollar,
.info__change-percent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  gap: 2rem;
}

.info__change-dollar-value,
.info__change-percent-value {
  color: #3b773a;
  font-family: var(--font-family);
  font-size: 20px;
}
