.info {
  display: flex;
  align-items: center;
}

.info__content {
  display: flex;
  width: 836px;
  height: 704px;
  padding: 0px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.info_content-left {
  display: flex;
  width: 836px;
  height: 704px;
  padding: 0px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  background-color: var(--color-bg);
}

.info__graph-container {
  display: flex;
  height: 311px;
  padding: 15px 0px;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  align-self: stretch;
}

.info__graph-container-main {
  display: flex;
  width: 528px;
  padding: 20px 22px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;

  border: 1px solid var(--color-border);
  background: #212121;
}

.info__graph {
  display: flex;
  align-items: flex-start;
  gap: 21px;
  flex: 1 0 0;
  align-self: stretch;
}

.info__graph-values {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  flex: 1 0 0;
  align-self: stretch;

  color: var(--color-text);
}
