.navbar {
  display: flex;
  align-items: center;

  padding: 2rem 4rem;
}

.navbar__links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar__logo {
  margin-right: 2rem;
}

.navbar__logo img {
  width: 88px;
  height: 53px;
}

.navbar__links-container {
  display: flex;
  flex-direction: row;
  padding: 0 6rem;
}

.navbar__sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar__links-container p,
.navbar__sign p {
  color: var(--color-text);
  font-family: var(--font-family);

  margin: 0 1rem;
  cursor: pointer;
}

.navbar__links-container p {
  text-align: center;
  font-size: 20px;
}

.navbar__sign p {
  text-align: center;
  font-size: 24px;
}
