* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}
.gradient__bg {
  background: radial-gradient(
    368.37% 328.46% at -187.08% 259.59%,
    rgba(208, 208, 208, 0.46) 0%,
    #000 100%
  );
}
