:root {
  --font-family: Inter, sans-serif;

  --color-bg: #212121;
  --color-text: #d0d0d0;
  --color-gain: #3b773a;
  --color-border: #d0d0d0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
