.header {
  display: flex;
  flex-direction: row;
}

.header__content {
  flex: 1;
  display: flex;
  flex-direction: column;

  padding: 4rem 0 3rem 4rem;
}

.header__content h1 {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 40px;
  font-weight: 500;

  margin: 0 0 1rem;
}

.header__buttons {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0.8rem;
  flex-wrap: wrap;
}

.header__buttons button {
  display: flex;
  width: 160px;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  color: #000;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;

  border: 0;
  border-radius: 0;
  outline: none;
  cursor: pointer;
}
